.menu-items, .menu-items:hover{
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: white 1px solid;
    text-align: center;
}

header {
    padding-top: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
td{
    color: #FFD800 !important;
}

.flashing-row {
    animation: flash 1s infinite;
  }
  
  @keyframes flash {
    0% {
      background-color: transparent;
    }
    50% {
      background-color: yellow;
    }
    100% {
      background-color: transparent;
    }
  }