img{
    -webkit-user-drag: none;
}

.Animate1 {
    position: absolute;
    left: 0;
}

.image-container {
    position: relative; /* Container for absolute positioning */
    display: block;
}
.sin {
    background-image: url('../icons/sin.png');
    background-repeat: repeat-x;
    top: 3.6rem;
    position: relative;
}

.invisible-sin {
    color: transparent;
    text-decoration: none;
    font-size: 0%;
}

@keyframes mymoveMobile {
    0%   { transform: translateX(-100%); }
    50%  { transform: translateX(50%); }
    100% { transform: translateX(-100%); }
}

@keyframes mymoveDesktop {
    0%   { transform: translateX(-70%); }
    50%  { transform: translateX(150%); }
    100% { transform: translateX(-70%); }
}

@media (max-width: 768px) {
    .Animate1 {
        animation: mymoveMobile 10s linear infinite;
    }
    #image1-2 {
        display: none;
    }
}

@media (min-width: 769px) {
    .Animate1 {
        animation: mymoveDesktop 15s linear infinite;
    }
    #image1-2 {
        display: inline;
    }
    #image1 {
        display: none;
    }
}

body{
    background-color: #F2EFC4;
}

.dark-mode {
background-color: #222;
color: #fff;
}