header {
    padding-top: 60px;
}

svg:hover{
    fill: #108541;
}

main{
    padding-bottom: 70px;
}
@media (max-width: 430px){
    svg{
        display: none;
    }
}

footer a:hover{
    color: #108541 !important;
}

img{
    -webkit-user-drag: none;
}

.Animate1 {
    position: absolute;
    left: 0;
}

.image-container {
    position: relative;
    display: block;
}

.sin {
    background-image: url('../icons/sin.png');
    background-repeat: repeat-x;
    top: 3.6rem;
    position: relative;
}

.invisible-sin {
    color: transparent;
    text-decoration: none;
    font-size: 0%;
}

/* Keyframes */
@keyframes HevAnimMobile {
    0%   { transform: translateX(-100%); }
    50% { transform: translateX(-35%); }
    100% { transform: translateX(-100%); }
}

@keyframes HevAnimMobileMid {
    0%   { transform: translateX(-100%); }
    50% { transform: translateX(40%); }
    100% { transform: translateX(-100%); }
}

@keyframes HevAnimDesktop {
    0%   { transform: translateX(-100%); }
    50% { transform: translateX(40%); }
    100% { transform: translateX(-100%); }
}

@keyframes HevAnimDesktopMost {
    0%   { transform: translateX(-100%); }
    100% { transform: translateX(-100%); }
}

/* Animations */
.Animate1 {
    animation: HevAnimMobile 8s linear infinite;
}

/* Media Queries */
@media (max-width: 430px) {
    /* Mobile */
    .Animate1 {
        animation: HevAnimMobile 8s linear infinite;
    }
    #image1-2 {
        display: none;
    }
}

@media (min-width: 431px) and (max-width: 999px){
    /* Mobile and Tablet*/
    .Animate1 {
        animation: HevAnimMobile 8s linear infinite;
    }
    #image1-2 {
        display: inline;
    }
    #image1 {
        display: none;
    }
}

@media (min-width: 1000px) {
    /* Desktop */
    .Animate1 {
        animation: HevAnimDesktop 15s linear infinite;
    }
    #image1-2 {
        display: inline;
    }
    #image1 {
        display: none;
    }
}

@media (width: 1080px) {
    /* DesktopMost */
    .Animate1 {
        animation: HevAnimDesktopMost 15s linear infinite;
    }
    #image1-2 {
        display: inline;
    }
    #image1 {
        display: none;
    }
}

body{
    background-color: #DEAF84;
}

/* Navbar */
hr{
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: gray;
}

.dropdown-hev5, .dropdown-hev6, .dropdown-hev7, .dropdown-hev8, .dropdown-hev9{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    margin: 15px;
}

.dropdown-hev5:hover{
    background-color: transparent;
    color: #108541;
    border: #108541 1px solid;
}
.dropdown-hev6:hover{
    background-color: transparent;
    color: rgb(123, 68, 0);
    border: rgb(123, 68, 0) 1px solid;
}
.dropdown-hev7:hover{
    background-color: transparent;
    color: rgb(238, 113, 1);
    border: rgb(238, 113, 1) 1px solid;
}
.dropdown-hev8:hover, .dropdown-hev9:hover{
    background-color: transparent;
    color: rgb(237, 110, 134);
    border: rgb(237, 110, 134) 1px solid;
}

.custom-dropdown-link {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: white 1px solid;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    margin: 15px;
}

.custom-dropdown-link:hover {
    background-color: transparent;
    color: #108541;
    border: #108541 1px solid;
}