header {
    padding-top: 70px;
}
@media (max-width: 430px){
    header {
        padding-top: 110px;
    }
}

svg:hover{
    fill: #108541;
}

main{
    padding-bottom: 70px;
}
@media (max-width: 430px){
    svg{
        display: none;
    }
    main{
        padding-bottom: 120px;
    }
}

body{
    background-color: #F2EFC4;
}

.card{
    background-color: #498C4D;
    color: #F2EFC4;
}

.stopName{
    color: #403F3C;
}

button, .menu-items, .menu-items:hover{
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: white 1px solid;
    text-align: center;
}

h1{
    font-family: 'Racing Sans One' ; 
    color: #108541 !important;
}

h3{
    font-family: 'Racing Sans One' ; 
    color: #108541 !important;
}

.offcanvas-title{
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 5px;
}

.font {
    font-family: 'Racing Sans One'; 
    color: #F2EFC4 !important;
    text-decoration: none !important;
    font-size: 25px; 
}

.hidden{
    display: none;
}

.celfilm{
    width: auto;
    height: 40px;
    border-radius: 10px;
    border: white 1px solid;
    -webkit-user-drag: none;
}


/* Checkbox */
.custom-checkbox {
    display: inline-block;
    margin-right: 20px;
}

.styled-checkbox {
    display: none;
}

.styled-checkbox + .checkbox-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.styled-checkbox:checked + .checkbox-label {
    background-color: #108541;
    color: white;
}

/* Vegallomasok */
.custom-form {
    margin-bottom: 10px;
}

.custom-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

.custom-button {
    padding: 5px 10px;
    background-color: #108541;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #0d6e3f;
}