/*HEADER*/
header {
    padding-top: 35px;
}

@media (max-width: 430px) {
    header {
        padding-top: 55px;
    }
}
/*HEADER END*/

.offcanvas{
    padding-top: 3%;
}
@media (max-width: 430px) {
    .offcanvas{
        padding-top: 22%;
    }
}

/*FOOTER*/
main{
    padding-bottom: 35px;
}

svg:hover {
    fill: #108541;
}

@media (max-width: 430px) {
    footer {
        visibility: hidden;
    }
    svg {
        display: none;
    }
}
/*FOOTER END*/

body {
    background-color: #F2EFC4;
}

.card {
    background-color: #498C4D;
    color: #F2EFC4;
}

.stopName {
    color: #403F3C;
}

button,
.menu-items,
.menu-items:hover {
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: white 1px solid;
    text-align: center;
}

.Hev5{
    font-family: 'Racing Sans One';
    color: #108541 !important;
}

.Hev6{
    font-family: 'Racing Sans One';
    color: #7b4400 !important;
}

.Hev7{
    font-family: 'Racing Sans One';
    color: #ee7101 !important;
}

.Hev8{
    font-family: 'Racing Sans One';
    color: #ed6e86 !important;
}

.offcanvas-title {
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 5px;
}

.font {
    font-family: 'Racing Sans One';
    color: #F2EFC4 !important;
    text-decoration: none !important;
    font-size: 25px;
}

.hidden {
    display: none;
}

.celfilm {
    width: auto;
    height: 40px;
    border-radius: 10px;
    border: white 1px solid;
    -webkit-user-drag: none;
}


/* Checkbox */
.custom-checkbox {
    display: inline-block;
    margin-right: 20px;
}

.styled-checkbox {
    display: none;
}

.styled-checkbox+.checkbox-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.styled-checkbox:checked+.checkbox-label {
    background-color: #108541;
    color: white;
}

/* Vegallomasok */
.custom-form {
    margin-bottom: 10px;
}

.custom-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

.custom-button {
    padding: 5px 10px;
    background-color: #108541;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #0d6e3f;
}
/* Vegallomasok END*/

/* Timetable Styling */
.accordion-item .accordion-button {
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: #F2EFC4;
    border-radius: calc(0.25rem - 1px);
}

.accordion-item .accordion-body {
    color: black;
    background-color: #F2EFC4;
}

table {
    --bs-table-bg: #F2EFC4 !important;
    border-color: transparent !important;
}

td, th {
    color: black !important;
}

.accordion-button:not(.collapsed) {
    background-color: #F2EFC4;
    color: black;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* Stops Styling */
.leftstopsH5 {
    color: #8A236C;
}
@media(max-width: 430px){
    #vehicles-containerH5, .card-body{
        padding: 1% !important;
    }
}

.leftstopsH6 {
    color: #7b4400;
}
@media(max-width: 430px){
    #vehicles-containerH6, .card-body{
        padding: 1% !important;
    }
}

.leftstopsH7 {
    color: #ee7101;
}
@media(max-width: 430px){
    #vehicles-containerH7, .card-body{
        padding: 1% !important;
    }
}

.leftstopsH8 {
    color: #ed6e86;
}
@media(max-width: 430px){
    #vehicles-containerH8, .card-body{
        padding: 1% !important;
    }
}

/*-------H5-------*/
.circle-iconH5 {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #8A236C;
    background: white;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.stops-lineH5 {
    position: relative;
    height: 15px;
}

.stops-lineH5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 11px;
    width: 8px;
    height: 105%;
    background-color: #8A236C;
    z-index: 1;
}

/*-----H6-------*/
.circle-iconH6 {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #7b4400;
    background: white;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.stops-lineH6 {
    position: relative;
    height: 15px;
}

.stops-lineH6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 11px;
    width: 8px;
    height: 105%;
    background-color: #7b4400;
    z-index: 1;
}

/*-------H7-------*/
.circle-iconH7 {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #ee7101;
    background: white;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.stops-lineH7 {
    position: relative;
    height: 15px;
}

.stops-lineH7::before {
    content: '';
    position: absolute;
    top: 0;
    left: 11px;
    width: 8px;
    height: 105%;
    background-color: #ee7101;
    z-index: 1;
}

/*-------H8-------*/
.circle-iconH8 {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #ed6e86;
    background: white;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.stops-lineH8 {
    position: relative;
    height: 15px;
}

.stops-lineH8::before {
    content: '';
    position: absolute;
    top: 0;
    left: 11px;
    width: 8px;
    height: 105%;
    background-color: #ed6e86;
    z-index: 1;
}
