html{
    margin: 0;
}


body{
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    font-family: 'Racing Sans One';
    text-align: center;
    color: #108541;
    text-decoration: underline;
    font-size: 200px;
}