/*HEADER*/
header {
    padding-top: 35px;
}

@media (max-width: 430px) {
    header {
        padding-top: 55px;
    }
}
/*HEADER END*/

.offcanvas{
    padding-top: 3%;
}
@media (max-width: 430px) {
    .offcanvas{
        padding-top: 28%;
    }
}

/*FOOTER*/
main{
    padding-bottom: 35px;
}

svg:hover {
    fill: #108541;
}

@media (max-width: 430px) {
    footer {
        visibility: hidden;
    }
    svg {
        display: none;
    }
    main{
        padding-bottom: 0px;
    }
}
/*FOOTER END*/

body {
    background-color: #F2EFC4;
}

.card {
    background-color: #498C4D;
    color: #F2EFC4;
}

.stopName {
    color: #403F3C;
}

button,
.menu-items,
.menu-items:hover {
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: white 1px solid;
    text-align: center;
}

.Hev5{
    font-family: 'Racing Sans One';
    color: #108541 !important;
}

.offcanvas-title {
    border-bottom: 1px solid white;
    width: 100%;
    padding-bottom: 5px;
}

.font {
    font-family: 'Racing Sans One';
    color: #F2EFC4 !important;
    text-decoration: none !important;
    font-size: 25px;
}

.hidden {
    display: none;
}

.celfilm {
    width: auto;
    height: 40px;
    border-radius: 10px;
    border: white 1px solid;
    -webkit-user-drag: none;
}


/* Checkbox */
.custom-checkbox {
    display: inline-block;
    margin-right: 20px;
}

.styled-checkbox {
    display: none;
}

.styled-checkbox+.checkbox-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #108541;
    border-radius: 10px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.styled-checkbox:checked+.checkbox-label {
    background-color: #108541;
    color: white;
}

/* Vegallomasok */
.custom-form {
    margin-bottom: 10px;
}

.custom-select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
}

.custom-button {
    padding: 5px 10px;
    background-color: #108541;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.custom-button:hover {
    background-color: #0d6e3f;
}
/* Vegallomasok END*/

/* Timetable Styling */
.delayed{
    color: red;
    padding-left: 20px;
}

.accordion-item .accordion-button {
    font-size: large;
    font-weight: bold;
    color: black;
    background-color: #F2EFC4;
    border-radius: calc(0.25rem - 1px);
}

.accordion-item .accordion-body {
    color: black;
    background-color: #F2EFC4;
}

table {
    --bs-table-bg: #F2EFC4 !important;
    border-color: transparent !important;
}

td, th {
    color: black !important;
}

.accordion-button:not(.collapsed) {
    background-color: #F2EFC4;
    color: black;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* Stops Styling */
.leftstopsH5 {
    color: #8A236C;
    justify-content: center;
}
@media(max-width: 430px){
    #vehicles-container, .accordion-body, .card-body{
        padding: 0.5px !important;
    }
}

/*-------H5-------*/
.circle-iconH5 {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #8A236C;
    background: white;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

.stops-lineH5 {
    position: relative;
    height: 15px;
}

.stops-lineH5::before {
    content: '';
    position: absolute;
    top: 0;
    left: 11px;
    width: 8px;
    height: 105%;
    background-color: #8A236C;
    z-index: 1;
}

/*-Weather-*/
/* hr with text*/
.hr-text {
    display: flex;
    align-items: center;
    text-align: center;
    color: gray;
    padding-bottom: 20px;
}

.hr-text::before,
.hr-text::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid gray;
}

.hr-text:not(:empty)::before {
    margin-right: 10px;
}

.hr-text:not(:empty)::after {
    margin-left: 10px;
}

/*--------------------*/
.wText {
    font-size: 35px;
    color: white;
}
.wInfo{
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}

.wIcon{
    width: 7rem;
    height: auto;
}

@media(max-width: 430px){
    .wIcon{
        width: 5rem;
        height: auto;
    }
    .wText {
        font-size: 25px;
        color: white;
    }
}

/*Weather div*/
.wCompact{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    justify-content: center;
    background: linear-gradient(135deg, #3a7bd5, #00d2ff);
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.wContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}



.information{
    text-align: center;
    color: #ffd800;
}